In [1]:
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets
from IPython.display import display

In [2]:
import seaborn as sns

In [3]:
tips = sns.load_dataset("tips")

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
ALL = "ALL DAYS"

def unique_sorted_values_plus_ALL(array):
    unique_values = array.unique().tolist()
    unique_values.sort()
    unique_values.insert(0,ALL)
    return unique_values

In [6]:
drop_down_day = widgets.Dropdown(options = 
                                unique_sorted_values_plus_ALL(tips.day))

In [7]:
def drop_down_day_handler(change):
    if change.new == ALL:
        new_total = tips.total_bill.sum()
    else:
        new_total = tips[tips.day == change.new].total_bill.sum()
    
    print("Total bill for {} is {:1.2f}".format(change.new, new_total))

In [8]:
drop_down_day.observe(drop_down_day_handler, names = "value")

In [9]:
display(drop_down_day)

Dropdown(options=('ALL DAYS', 'Fri', 'Sat', 'Sun', 'Thur'), value='ALL DAYS')

Total bill for Fri is 325.88
Total bill for Sat is 1778.40
Total bill for Sun is 1627.16
Total bill for Thur is 1096.33
Total bill for ALL DAYS is 4827.77